* {
    padding: 0em;
    margin: 0em;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    /* background: rgba(15, 15, 12, 0.568); */
}
.About {

    /* margin: 0em 6em; */
    color: rgba(255, 255, 255, 0.925);

}
.Top {
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 100%; */
    background: url(../images/about-img/about-bg.jpg);
    background-size: cover;
}
.Top-bg {
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.8);
    padding: 7.5em 4em 7.5em 6em; 


}
.LeftSection {
    width: 50%;
}
.LeftSection h2 {
    margin-bottom: .6em;
}
.L-s-li {
    display: flex;
    flex-direction: row;
}
.L-s-li li {
    margin-left: .3em;
}
.LeftSection-p-1 {
    margin-bottom: .5em;
    font-style: italic;
}
.LeftSection-p-2 {
    margin-top: 1.3em;
}
.LeftSection ul div {
    margin: .8em 0em;
}
.LeftSection ul li {
    list-style-type: none;
}
.LeftSection ul i {
    color: rgb(205 164 94);
}
.RightSection img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid rgba(255, 255, 255, 0.2);
}
.RightSection {
    width: 42%;
    height: 42%;
    margin: 0em 0em 0em 2em;
}
.Bottom {
    color: rgba(255, 255, 255, 0.925);
    padding: 60px 6em 60px 6em;
    /* background: rgb(15, 14, 10); */
    background: #0c0b09;
}
.Btm-h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.Btm-h3::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}
.Btm-h2 {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #cda45e;
}
.AboutCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Card {
    font-family: "Playfair Display", serif;
    background: #1a1814;
    margin-top: 2em;
    /* padding: 4em 2em 4em 2em; */
    width: 22.8em;
    height: 17em;
}
.Card:hover {
    background: #cda45e;
    transition-duration: 1s;

}
.CardOne h2 {
    margin: 2.2em 0em 0em 1.2em;
    color: #cda45e;
    font-weight: 700;
    font-size: 28px;
}
.CardOne h3 {
    font-weight: 600;
    font-size: 24px;
    margin: 1em 0em 1em 1.4em;
    color: rgba(255, 255, 255, 0.8);
}
.CardOne p {
    margin: .5em 1em 0em 2.08em;
    font-weight:normal;
    color: rgba(255, 255, 255, 0.8);
    width: 80%;
}
.CardTwo h2 {
    margin: 2.2em 0em 0em 1.2em;
    color: #cda45e;
    font-weight: 700;
    font-size: 28px;
}
.CardTwo h3 {
    font-weight: 600;
    font-size: 24px;
    margin: 1em 0em 1em 1.4em;
    color: rgba(255, 255, 255, 0.8);
}
.CardTwo p {
    margin: .5em 1em 0em 2.08em;
    font-weight:normal;
    color: rgba(255, 255, 255, 0.8);
    width: 80%;
}
.CardThree h2 {
    margin: 2.2em 0em 0em 1.2em;
    color: #cda45e;
    font-weight: 700;
    font-size: 28px;
}
.CardThree h3 {
    font-weight: 600;
    font-size: 24px;
    margin: 1em 0em 1em 1.4em;
    color: rgba(255, 255, 255, 0.8);
}
.CardThree p {
    margin: .5em 1em 0em 2.08em;
    font-weight:normal;
    color: rgba(255, 255, 255, 0.8);
    width: 80%;
}
@media only screen and (min-width: 387px) and (max-width: 909px) {
    .About {
        color: rgba(255, 255, 255, 0.925);
    }
    .Top {

        background: url(../images/about-img/about-bg.jpg);
        background-size: cover;
    }
    .Top-bg {
        display: flex;
        flex-direction:column;
        background-color: rgba(0,0,0,0.8);
        padding: 7.5em 4em 7.5em 6em; 
    
    
    }
    /* .LeftSection {
        width: 50%;
    }
    .LeftSection h2 {
        margin-bottom: .6em;
    }
    .L-s-li {
        display: flex;
        flex-direction: row;
    }
    .L-s-li li {
        margin-left: .3em;
    }
    .LeftSection-p-1 {
        margin-bottom: .5em;
        font-style: italic;
    }
    .LeftSection-p-2 {
        margin-top: 1.3em;
    }
    .LeftSection ul div {
        margin: .8em 0em;
    }
    .LeftSection ul li {
        list-style-type: none;
    }
    .LeftSection ul i {
        color: rgb(205 164 94);
    }
    .RightSection img {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 4px solid rgba(255, 255, 255, 0.2);
    }
    .RightSection {
        width: 42%;
        height: 42%;
        margin: 0em 0em 0em 2em;
    }
    .Bottom {
        color: rgba(255, 255, 255, 0.925);
        padding: 60px 6em 60px 6em;
        background: #0c0b09;
    }
    .Btm-h3 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
        font-family: "Poppins", sans-serif;
    }
    .Btm-h3::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.2);
        margin: 4px 10px;
    }
    .Btm-h2 {
        margin: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        color: #cda45e;
    } */
    .AboutCards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Card {
        font-family: "Playfair Display", serif;
        background: #1a1814;
        margin-top: 2em;
        width: 43em;
        height: 16em;
    }    /*
    .Card:hover {
        background: #cda45e;
        transition-duration: 1s;
    
    }
    .CardOne h2 {
        margin: 2.2em 0em 0em 1.2em;
        color: #cda45e;
        font-weight: 700;
        font-size: 28px;
    }
    .CardOne h3 {
        font-weight: 600;
        font-size: 24px;
        margin: 1em 0em 1em 1.4em;
        color: rgba(255, 255, 255, 0.8);
    }
    .CardOne p {
        margin: .5em 1em 0em 2.08em;
        font-weight:normal;
        color: rgba(255, 255, 255, 0.8);
        width: 80%;
    }
    .CardTwo h2 {
        margin: 2.2em 0em 0em 1.2em;
        color: #cda45e;
        font-weight: 700;
        font-size: 28px;
    }
    .CardTwo h3 {
        font-weight: 600;
        font-size: 24px;
        margin: 1em 0em 1em 1.4em;
        color: rgba(255, 255, 255, 0.8);
    }
    .CardTwo p {
        margin: .5em 1em 0em 2.08em;
        font-weight:normal;
        color: rgba(255, 255, 255, 0.8);
        width: 80%;
    }
    .CardThree h2 {
        margin: 2.2em 0em 0em 1.2em;
        color: #cda45e;
        font-weight: 700;
        font-size: 28px;
    }
    .CardThree h3 {
        font-weight: 600;
        font-size: 24px;
        margin: 1em 0em 1em 1.4em;
        color: rgba(255, 255, 255, 0.8);
    }
    .CardThree p {
        margin: .5em 1em 0em 2.08em;
        font-weight:normal;
        color: rgba(255, 255, 255, 0.8);
        width: 80%;
    } */
}
/* @media only screen and (min-device-width: 393px) and (max-device-width: 851px) {

} */